.app{
    background-color: #f9f8f6;
    height: 100vh;
    display: flex;
}

.navbar{
    color: black;
    background-color: brown;
}
.content{
    color: black;
    background-color: blueviolet;
}

